// media queries breakpoints
$small: 576px; // red
$medium: 768px; // yellow
$large: 992px; // blue
$extra: 1200px; // green

// background colors
$bacground-primary: #2f3136;
$bacground-primary-light: #36393f;

// text colors
$text-primary: #ffffff;
$text-secondary: #f2f2f2;
$text-secondary-dark: #e5e5e5;
$text-third: #999999;
$text-purple: #B19CD9;
